body.orange{
    color: black;
    background: orange;
}
body.blue{
    color: black;
    background: blue;
}
body.green{
    color: black;
    background: green;
}
body.pink{
    color: black;
    background: pink;
}
body.red{
    color: black;
    background: red;
}